body {
  height: 100vh;
  font-size: px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #161B21;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fas {
  margin-right: 0.1875em;
}